body {
  font-family: sans-serif;
  margin: 0;
}

#hacker-header {
  display: flex;
  justify-content: flex-start;
  background-color: #fd6c05;
}

#hacker-logo {
  font-size: .8rem;
  color: #FFF;
  border: 1px solid white;
  padding: 2px 4px;
  margin-left: 5px;
}

#hacker-title {
  font-size: 1rem;
  margin: 0 0 0 5px;
  font-weight: bolder;
}

.hacker-nav {
  margin: 0 0 0 -20px;
  display: flex;
  justify-content: space-between;
  width: 25vw;
  list-style: none;
  font-size: 1rem;
}

.separator {
  font-size: 1rem;
  margin: 0 10px;
  color: #fff;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  background-color: #ccc;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  background-color: #f6f3e1;
  padding: 3px 0 5px 10px;
}

header {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: .2rem;
}

.id {
  color: gray;
}

.arrow {
  color: gray;
  font-size: .8rem;
  margin: 0 0 0 5px;
}

.article-title {
  margin: 0 5px;
  font-size: .9rem;
  width: 100%;
}

.article-website {
  font-size: .8rem;
  margin: 0;
}


footer {
  display: flex;
  justify-content: flex-start;
}

.footer-info {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 35vw;
  list-style: none;
  font-size: .7rem;
}
