.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rebeccapurple
}

button {
  padding: 10px 15px;
  font-size: 1.3rem;
  background-color: yellow;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  outline: none;
}

button:active {
  box-shadow: none;

}
