body {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 10vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.heading-bar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #f5f5f5;
  border-color: #ddd;
}

#hot-icon {
  margin: 0 10px;
}

.heading {
  margin: 8px 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.genre-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.genre-btn {
  background-color: #ddd;
  outline: none;
  margin: 7px 10px;
}

.genre-label {
  font-size: 1.5rem;
}
