body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.app {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 30% 10% 60%;
}

.account-header {
  grid-area: 1 / 4 / span 1 / span 2;
  text-align: center;
  width: 42vw;
  height: 23vh;
  margin-top: 30px;
}

.navigation {
  grid-area: 2 / 1 / span 1 / span 11;
  width: 100vw;
  height: 5vh;
  margin: 3vh 0 0 0;
  box-shadow: 0 6px 4px -4px black;
  border-top: 1px solid #EEE;
  border-bottom: 2px solid black;
  padding: 20px 0 35px;
}

.boards-container {
  grid-area: 3 / 1 / span 1 / span 12;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* height: 55vh; */
  background-color: #DDD;
  padding: 20px;
}

/* ==============================
    Individual Board Layout
=================================*/
article {
  width: 20%;
  margin: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 20%, 40%, 20%, 20%;
  /* grid-gap: 10px; */
  grid-template-areas:
  "art_header art_header art_header"
  "art_img_sec art_img_sec art_img_sec"
  "art_img_sec art_img_sec art_img_sec"
  "art_footer art_footer art_footer";
}

.article-header {
  grid-area: art_header;
  margin: 5px 5px;
}

.topic-header {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 0;
}

.article-account-name {
  font-size: .8rem;
  color: gray;
}

/*==============================*/
.article-img-section {
  grid-area: art_img_sec;
}

.top-image-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80% 20%;
  grid-template-areas:
  "top_image top_image"
  "pins top_image";
  margin-bottom: 5px;
}

.article_top_images {
  grid-area: top_image;
  width: 280px;
}

.pins {
  grid-area: pins;
  align-self: end;
  width: 4.2rem;
  background-color: rgba(0, 0, 0, .5);
  margin: 5px;
  padding: 5px;
  color: #FFF;
  font-size: 1rem;
}

.bottom-image-cont {
  display: flex;
  justify-content: space-between;
}

.article_bot_images {
  width: 90px;
}

.article_images {

}

/*==============================*/
.article-footer {
  grid-area: art_footer;
}

.follow-btn {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: darkred;
  background-color: #EEE;
  font-size: .8rem;
  font-weight: bold;
}


/* Nav Bar */
.account-nav {
  display: flex;
  justify-content: center;
}

.account-nav li {
  text-align: center;
  margin: 0 5%;
  line-height: 1.5;
}

.account-nav li a {
  color: #AAA;
  text-decoration: none;
}

/* .account-nav li a:visited {
  color: red;
} */

.account-nav li a:active {
  color: blue;
}

/* Logo */
.account-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.account-name {
  grid-area: 1 / 4 / span 1 / span 2;
  /* width: 22vw; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
